<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Montana</title>
    <meta name="description" content="Montana, a simple event monitor">
    <meta name="author" content="Martijn Vermaat">
    <meta http-equiv="refresh" content="1800">
    <link rel="stylesheet" href="static/stylesheets/montana.css" media="all" />
    <script src="static/scripts/jquery-1.8.1.min.js"></script>
    <script src="static/scripts/jquery.leanModal.min.js"></script>
    <script src="static/scripts/tooltipsy.min.js"></script>
    <script src="static/scripts/montana.js"></script>
  </head>
  <body>
    <h1>Montana, a simple event monitor</h1>
    {% for service in services|sort(reverse=True,attribute='last_event') %}
    <h2><a rel="modal" href="#service-{{ loop.index }}">{{ service.description }}</a></h2>
    <div class="modal" id="service-{{ loop.index }}">
      <div class="header">
        <h3>Edit service description</h3>
      </div>
      <form method="post" action="/api/services">
        <input type="hidden" name="name" value="{{ service.name }}">
        <p><input type="text" name="description" value="{{ service.description }}"></p>
        <p><input type="password" name="key" placeholder="API key"></p>
        <input type="submit" value="Edit">
      </form>
    </div>
    <p class="last">{{ service.last_event|timedelta }}</p>
    <ul>
      {% for event in service.events %}
      <li class="event {{ event.status }}" title="{{ event.logged|datetime }}">{{ event.status }}</li>
      {% endfor %}
    </ul>
    {% else %}
    <p>No services known.</p>
    {% endfor %}
  </body>
</html>
