ul {
    list-style-type: none;
    margin: 0 0 5em 10em;
    padding: 0;
}

li {
    float: left;
    margin-left: 0.75em;
    height: 2em;
    line-height: 2em;
}

li.success, li.failure {
    width: 2em;
    border-radius: 1em;
    text-indent: -1000em;
}

li.success{
    background: green;
}

li.failure {
    background: red;
}

p {
    float: left;
    width: 10em;
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 2em;
}

h2 {
    clear: both;
}
